.yellow{
color:yellow;
}
#greycol{
    color:gray;
}
div+div>p{
    color:red;
}
div+h3+p{
    color:green;
}
div>h3:first-child{
    color:pink;
}
caption{
    color:blueviolet;
}
caption:hover{
    color:red;
}
caption:active{
    color:green;
}
tr>th:first-child{
    color:rgb(18, 202, 45)
}
th>th:nth-child(n+2){
    color:blue
}
th:hover{
    color:aqua
}
th:active{
    color:green;
}
th:first-child() {
    color:aliceblue
}

td:nth-child(n+2) {
    color:purple;
}
td:nth:nth-child(event){

    color:aquamarine;   
}