.yellow{
color:yellow;
}
#greycol{
    color:gray;
}
div+div>p{
    color:red;
}
div+h3+p{
    color:green;
}
div>h3:first-child{
    color:pink;
}
caption{
    color:blueviolet;
}
caption:hover{
    color:red;
}
caption:active{
    color:green;
}
tr>th:first-child{
    color:rgb(18, 202, 45)
}
th>th:nth-child(n+2){
    color:blue
}
th:hover{
    color:aqua
}
th:active{
    color:green;
}
th:first-child() {
    color:aliceblue
}

td:nth-child(n+2) {
    color:purple;
}
td:nth:nth-child(event){

    color:aquamarine;   
}
.item {
    width: 100px;
    height: 100px;
    background-color:red;
}
.box {
    display: flex;
    gap: 20px;
}
.item:hover{
    background-color: blueviolet;
}
.box :nth-child(even) {
    background-color: gold;
}
.box :first-child {
    background-color: blue;
}
.box :last-child {
    background-color: aquamarine;
}